**/target/
/nbproject/
.idea/
*.iml
/koji-scm-lib/target/
/jenkins-scm-koji-plugin/target/
/fake-koji/target/
/jenkins-scm-koji-plugin/work

# webapp
# dependencies
webapp/node_modules
webapp//.pnp
webapp/.pnp.js

# testing
webapp//coverage

# production
webapp//build

# misc
webapp/.DS_Store
webapp/.env.local
webapp/.env.development.local
webapp/.env.test.local
webapp/.env.production.local

webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*
