fieldset {
    border: none;
}

form {
    padding: 12px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.field-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.label-container {
    margin-top: 6px;
}

.value-container {
    margin-top: 6px;
}

