html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.HeaderItem {
    border-bottom: 2px solid white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: space-around;
    min-height: 200px;
}

.HeaderItem:hover {
    border-color: black;
}

.Body {
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: 50px;
    width: 100%;
}

.VerticalSeparator {
    background-color: black;
    height: 100%;
    width: 1px;
}

.Content {
    width: 100%;
}

.List {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ListHeader {
    border-bottom: 1px solid black;
    padding: 15px 0 15px 10px;
}

.ListItem {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.ListItem:hover {
    background-color: wheat;
}

.Add {
    background-color: green;
    border: 1px solid green;
    border-radius: 100px;
    color: white;
    cursor: pointer;
}

.Add:hover {
    background-color: white;
    border-color: green;
    color: green;
}

.Remove {
    background-color: crimson;
    border: 1px solid crimson;
    border-radius: 100px;
    color: white;
    cursor: pointer;
}

.Remove:hover {
    background-color: white;
    border-color: crimson;
    color: crimson;
}

.Dropdown {
    position: relative;
    display: block;
}

.DropdownLabel {
    background-color: bisque;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}

.DropdownLabel:focus {
    outline: none;
}

.DropdownList {
    background-color: white;
    border: 1px solid bisque;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    position: absolute;
    z-index: 1;
}

.DropdownListItem {
    cursor: pointer;
    padding: 5px 10px;
}

.DropdownListItem:hover {
    background-color: bisque;
}

.tree-node-wrapper {
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-areas:
    "title options"
    "node-info node-info"
    "nodes nodes";
    margin: 5px 10px 10px 25px;
}

.tree-node-title {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    grid-area: title;
    justify-content: center;
    padding: 7px;
}

.tree-node-options {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    grid-area: options;
    justify-content: flex-end;
    padding: 7px;
}

.tree-node-info {
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    grid-area: node-info;
    margin-top: 5px;
    padding: 10px 0 10px 25px;
}

.tree-node-nodes {
    grid-area: nodes;
}
