name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-linux:
    name: "ubuntu latest all jdks"
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        jdkconf:
          - JDK 17
          - JDK 21
          - JDK Latest
        include:
          - jdkconf: JDK 17
            jdkver: "17"
          - jdkconf: JDK 21
            jdkver: "21"
          - jdkconf: JDK Latest
            jdkver: "25"

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdkver}}

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

      - name: Build with Maven
        run: |
          export MAVEN_OPTS="-Xmx4G"
          mvn install -DskipTests

      - name: test koji-scm-lib
        run: |
          export MAVEN_OPTS="-Xmx4G"
          cd koji-scm-lib
          mvn test

      - name: test fake-koji
        run: |
          export MAVEN_OPTS="-Xmx4G"
          cd fake-koji
          mvn test -Dheadless=true #the webapp takes long and was created in original full build and we do not clean

      - name: test jenkins-scm-koji-plugin
        run: |
          export MAVEN_OPTS="-Xmx4G"
          cd jenkins-scm-koji-plugin
          mvn test || echo "This fails now because of duplicate netty on class-path. It seems plugin works fine, but it is worthy to check those test resulsts manually"

      - name: Store artifacts
        run: |
          mkdir archives
          cp fake-koji/target/fake-koji-jar-with-dependencies.jar archives/
          cp jenkins-scm-koji-plugin/target/jenkins-scm-koji-plugin.hpi archives/
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.jdkver }}-linux
          path: archives
